.navContainer {
    position: relative;
  /* height: 100%; */
  width: 100vw;
  /* box-shadow: 10px 5px 5px black; */
  border-bottom: solid black;
  
  margin: 0 auto;
  /* outline: auto; */
  z-index: 999;
  background-color: white;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: end;
  z-index: 999;
margin: 0 auto;

}

.nav h3 {
  position: absolute;
  top: 18px;
  right: 50px;
}
