.navContainer {
    position: fixed;
  /* height: 100%; */
  width: 100%;
  box-shadow: 10px 5px 5px black;
  margin: 0 auto;
  /* outline: auto; */
  z-index: 999;
  background-color: white;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-bottom: 10px;
  z-index: 999;


}

.nav h3 {
  position: absolute;
  top: 18px;
  right: 50px;
}
