.signUp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    padding-top: 8%;
    gap: 20px;
    column-gap: 100px;
}